  .face1 {
      width: 100vw;
  }

  .screen2 {
    width: 100vw;
    height: 100vw;
    animation-name: headerLane;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: steps(1, end);
  }
@keyframes headerLane {
  0% {
    background-image: url(../images/ek1-1.png);
    width: 1270px;
    height: 1270px;
  }

  30% {
    background-image: url(../images/ek1-2.png);
    width: 1270px;
      height: 1270px;
  }

  60% {
    background-image: url(../images/ek1-3.png);
    width: 1270px;
      height: 1270px;
  }

  100% {
    background-image: url(../images/ek1-4.png);
    width: 1270px;
      height: 1270px;
  }
}

a.eyess {
  background: url("..ABO/images/eyes1.png");
  display: block;
  width: 400px;
  height: 200px;
}

a.eyess:hover {
  background: url("..ABO/images/eyes22.png");
}