body {
  -webkit-font-smoothing: antialiased;
  background-color: #002aff;
  overflow-x: hidden;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}
* {
  box-sizing: border-box;
}
div {
  display: flex;
  align-items: center;
}

.screen1 {
  position: relative;
  height: 45vw;
  background-image: url("../images/face1.svg");
  background-size: cover;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.row {
  position: relative;
  width: 100%;
}
.playy {
  position: absolute;
  top: 0;
  left: 0;
}
.kv {
  width: 58vw;
}
.vectors {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.vectors > img {
  width: 30vw;
}
.vectors1 {
  width: 5vw;
}
.error {
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 100;
}

.screen2 {
  position: relative;
}

.hands img {
  width: 40vw;
}

.handright1 {
  position: absolute;
  left: 66%;
  top: 34%;
}

.handleft1 {
  position: absolute;
  left: 0%;
  top: 34%;
}
.handright2 {
  position: absolute;
  left: 62%;
  top: 75%;
}

.handleft2 {
  position: absolute;
  left: 0%;
  top: 76%;
}
.line {
  animation: 7s infinite running line;
}
